/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin, padding */
* {
	margin: 0;
	padding: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Set body heigt */
	height: 100vh;
}

/* 5. Improve media defaults */
/* img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
} */

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
	9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* ==================== */

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* prettier-ignore */
	background-image: 
	  url('/ui/app-background.png'), 
	  linear-gradient(
		to bottom,
		hsl(185, 79%, 70%) 0%,
		hsl(150, 75%, 73%) 50%,
		hsl(130, 85%, 77%) 100%
	);

	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-position:
		0 0,
		0 0;

	animation: panBackground 20s linear infinite;

	/* Vignette above texture and background */
	&::before {
		content: '';
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
		background-image: radial-gradient(
			ellipse at center,
			transparent 0%,
			rgba(255, 255, 255, 0.25) 100%
		);
	}
}

@keyframes panBackground {
	0% {
		background-position:
			0 0,
			0 0; /* Start: Textur bei 0/0, Gradient bei 0/0 (Gradient ändert sich nicht) */
	}
	100% {
		background-position:
			188px 178px,
			0 0; /* Textur-Position animieren, Gradient bleibt fix */
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.separator {
	height: 2px;
	width: auto;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 1rem 0;
}

.separator-vertical {
	width: 2px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0 1rem;
}

/* ======== Global UI Element Classes ========= */

:root {
	--ui-text-color: #fff;
	--ui-text-disabled: #c5c5c5;

	--ui-form-element-height: 44px;
	--ui-section-background-color: #618e9e;
}

.pk-ui-section {
	/* Border settings */
	border-style: solid;
	border-color: transparent;
	border-width: 15px 15px 20px 15px;
	border-image-source: url('/ui/ui-section-filled.png');
	border-image-slice: 15 15 20 15 fill;
	border-image-repeat: round;
	border-image-outset: 0;

	image-rendering: pixelated;
}

.pk-ui-section-inner {
	/* Border settings */
	border-style: solid;
	border-color: transparent;
	border-width: 6px;
	border-image-source: url('/ui/inner-border-sidebar.webp');
	border-image-slice: 6;
	border-image-repeat: round;
	border-image-outset: 3px;

	/* fix offset for bottom shadow*/
	margin-bottom: -2px;
}

/* Button */
.pk-button {
	width: auto;
	height: var(--ui-form-element-height);
	padding-inline: 1rem;
	color: var(--ui-text-color);
	text-align: center;

	background-color: transparent;
	border: none;

	image-rendering: pixelated;
	cursor: pointer;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	/* Visually verticaly center Text and Icons */
	/* Because of the 3px high shadow in the border image */
	padding-bottom: 3px;

	img {
		width: 24px;
		height: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 9px solid;
		border-image: url('/ui/button-default.webp') 9 fill round;
		border-image-outset: 0;
		border-image-width: 9px;
		z-index: -1;
	}

	&:hover::before {
		filter: brightness(1.15);
	}

	&:active::before {
		filter: brightness(0.9);
		transform: rotate(180deg);
	}

	&:focus-visible {
		outline: none;
	}
	&:focus-visible::before {
		border-image-source: url('/ui/button-focus.webp');
	}

	&:disabled {
		filter: brightness(0.75);
		pointer-events: none;
		cursor: not-allowed;
		color: var(--ui-text-disabled);
	}
}

/* Select */
.pk-select {
	width: auto;
	height: var(--ui-form-element-height);
	color: var(--ui-text-color);

	padding-inline: 1rem;
	padding-right: 2.875rem;
	background-color: transparent;
	image-rendering: pixelated;
	cursor: pointer;

	appearance: none;

	border-width: 9px solid;
	border-image: url('/ui/textarea-select-default.webp') 9 fill round;
	border-image-outset: 0;
	border-image-width: 9px;

	&:hover {
		filter: brightness(1.15);
	}

	&:active {
		filter: brightness(0.9);
	}

	&:focus-visible {
		outline: none;
		border-image-source: url('/ui/textarea-select-focus.webp');
	}

	&:disabled {
		filter: brightness(0.75);
		pointer-events: none;
		cursor: not-allowed;
		color: var(--ui-text-disabled);
	}

	option,
	optgroup {
		background-color: #717186;
		color: var(--ui-text-color);
	}
}

.pk-select-wrapper {
	position: relative;
}

.pk-select-arrow {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-40%);
	width: 14px;
	height: 8px;
	background-image: url('/ui/select-caret.webp');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
}

/* Textarea */
.pk-textarea {
	width: auto;
	color: var(--ui-text-color);

	padding-inline: 1rem;
	padding-block: 0.5rem;
	background-color: transparent;
	image-rendering: pixelated;
	cursor: text;

	border-width: 9px solid;
	border-image: url('/ui/textarea-select-default.webp') 9 fill round;
	border-image-outset: 0;
	border-image-width: 9px;
	resize: none;

	&:active {
		filter: brightness(0.9);
	}

	&:focus-visible {
		outline: none;
		border-image-source: url('/ui/textarea-select-focus.webp');
	}

	&::placeholder {
		color: var(--ui-text-disabled);
	}

	&:disabled {
		filter: brightness(0.75);
		pointer-events: none;
		cursor: not-allowed;
		color: var(--ui-text-disabled);
	}
}

/* Toggle */
/* ... */
